#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  font-family: sans-serif;
  margin-top: 30px;
  padding: 20px;
}
#drop-area.highlight {
  border-color: #FFC107;
}
.my-form {
  margin-bottom: 10px;
}
#preview {
  margin-top: 10px;
}
#preview img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

/* ----------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  font-family: "Tahoma", sans-serif;
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.users {
  margin: 0;
  height: 100vh;
  padding: 15px 15px 0 0;
  width: 200px;
  background-color: #2196F3;
  color: #fff;
}
.row {
  display: flex;
}
.users__block_title {
  display: flex;
  align-items: center;
}

.users__block_img {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background-color: #F2F1F2;
  cursor: pointer;
}

.users__block_name {
  margin-left: 16px;
  font-size: 24px;
}

.users__block_members {
  margin-left: 15px;
  margin-top: 45px;
  font-size: 14px;
}

.users__block_list {
  list-style: none;
  font-size: 14px;
}

.button-o {
  margin: 5px;
  padding: 10px 15px;
  color: #fff;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 13px;
  cursor: pointer;
  background-color: #FFC107;
}

.button-o:hover {
  background-color: #FFA000;
}
.message {
  height: 100vh;
}

.message__item {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

.message__name {
  font-size: 18px;
  font-weight: 700;
}

.message__date {
  font-size: 14px;
  color: #616161;
}

.message__content {
  font-size: 16px;
  margin: 5px 0 0 0;
}

.message__form {
  position: fixed;
  bottom: 50px;
  width: 100%;
}

.message__form_input {
  display: inline-block;
  margin-left: 15px;
  margin-top: 2px;
  padding: 3px;
  width: 68%;
  height: 32px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #a9a8a9;
  font-size: 13px;
}

.message__form_input-error {
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 10px rgba(169, 113, 4, 0.6);
}

.message__form_btn {
  padding: 8px 20px;
  border-radius: 15px;
  background-color: #FFC107;
  color: #fff;
}

.authorization__modal {
  position: absolute;
  top: 0;
  left: 40%;
  width: 400px;
  padding: .5rem 0 1rem;
  background-color: #FFC107;
  border-radius: 10px;
}

.authorization__modal_block {
  margin: 0 auto;
  padding: 1rem 0;
  width: 95%;
  background-color: #fff;
  border-radius: 10px;
}

.authorization__modal_title {
  font-size: 20px;
  margin: 3px;
  color: #fff;
}

.authorization__modal_input {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 3px;
  width: 90%;
  height: 20px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #a9a8a9;
  font-size: 13px;
}

.authorization__modal_btn {
  display: block;
  margin-left: 300px;
  margin-top: 45px;
  padding: 5px 10px;
  background-color: #FFC107;
}

.authorization__modal_input:focus {
  color=#ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .008), 0 0 10px rgba(205, 92, 92, .6);
  outline: none;
}

.authorization__modal_input-error {
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 10px rgba(169, 113, 4, 0.6);
}

.fileload__modal {
  display: none;
  position: absolute;
  top: 0;
  left: 35%;
  padding: 10px;
  width: 500px;
  background-color: #2196F3;
  border-radius: 10px;
  transition: display, 0.5s, ease-in;
}

.fileload__modal_title {
  font-size: 20px;
  margin: 0;
  color: #fff;
}

.fileload__modal_buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 10px;
}

.users__block_image {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  box-shadow: none;
}
.users__block_list-member-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: none;
}

.no_photo-o {
  display: none;
}
.image_input {
 display: none;
}
.image_input-add {
  display: block;
  width: 144px;
  height: 144px;
}

.message__list {
  list-style: none;
}
.message__container {
  display: block;
  max-height: 500px;
  overflow: hidden;
}
